* {
    box-sizing: border-box;
    font-family: 'OnGulIp RyuTtung';
    border-radius: 15px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: #fff9f3;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.msgLine {
    display: flex;
    margin-bottom: 3px;
    width: 100%;
}

.msgBox {
    border: 1px solid black;
    background: rgb(209, 168, 255);
    color: black;
    max-width: 90%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.myMsg {
    justify-content: flex-end;
}

.myMsg .msgBox {
    background-color: #fff5cc;
}

.otherMsg {
    justify-content: flex-start;
}

.otherMsg .msgBox {
    background-color: #f1f0f0;
}

#chatContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    width: 40%;
    height: calc(100% - 80px);
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-family: 'OnGulIp RyuTtung', sans-serif;
    font-size: 16px;
}

input[type="submit"] {
    width: 15%;
    padding: 7px;
    border: none;
    border-radius: 15px;
    background-color: #fff5cc;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'OnGulIp RyuTtung', sans-serif;
    font-size: 25px;
}

input[type="submit"]:hover {
    background-color: #fff5cc;
}

@media (max-width: 768px) {
    input[type="text"] {
        width: calc(100% - 70px);
    }
    input[type="submit"] {
        width: 80px;
    }
}

.chatting-input-box {
    display: flex;
    align-items: center;
    width: 40%;
    position: absolute;
    bottom: 0;
    background-color: #fff9f3;
    margin-left: 0%;
    margin-right: 0%;
}

#myChat{
    width: 82%;
}

.chatting-back-button {
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    top: 10%;
    left: 50%; 
    transform: translateX(210px);
    width: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-family: 'OnGulIp RyuTtung';
}
