.chat-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff9f3 ;
    height: 400px;
    position: relative;
    padding-top: 3%; /* 컨테이너 상단에 여백 조정 */
}

.chat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 280px; /* 섹션 너비 조정 */
    max-height: 100%; /* 섹션의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 생성 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
    border: 1px solid #ccc; /* 박스 테두리 추가 */
    border-radius: 15px; /* 박스 모서리를 둥글게 설정 */
    padding: 10px;
    background-color: #fff5cc;
    margin-top: 0%; /* 섹션을 더 위로 이동 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

.chat-section h2 {
    margin-bottom: 20px;
}

.chat-list {
    width: 100%;
    border-radius: 15px; /* 리스트 박스 모서리를 둥글게 설정 */
    padding: 10px;
    background-color: #fff5cc;
    
    
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.chat-item:last-child {
    border-bottom: none;
    
}

.chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.chatting-go{
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 24px;
    font-family: 'OnGulIp RyuTtung';
    width: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;

}