.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 300px;
    max-height: 380px;
    height:100%;
}

h1 {
    margin-bottom: 20px;
}

.write-post-button {
    padding: 9px 20px;
    font-size: 16px;
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 505px; 
    font-family: 'OnGulIp RyuTtung';
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.posts {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #fff5cc;
    border-radius: 15px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.post-title {
    font-size: 15px;
    flex:1;
    text-align: center;
    width: 83%;
    font-size: 17px;
}

.post-author {
    font-size: 16px;
    color: black;
    margin: 0px;
    position: relative;
    padding: 5px;
    width: 17%;
    height: 40px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 4px solid #fff9f3;
    display: flex;
    align-items: center;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.indexNumber{
    margin-left: 15px;
}

.active,
.next,
.pre{
    padding: 9px 20px;
    font-size: 16px;
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'OnGulIp RyuTtung';
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pagination-button{
    padding: 9px 20px;
    font-size: 16px;
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    font-family: 'OnGulIp RyuTtung';
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
