.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    height: 430px;
    
}

h1 {
    margin-bottom: 20px;
}

.write-post-button {
    padding: 9px 20px;
    font-size: 16px;
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 505px; 
}

.posts {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #fff5cc;
    border-radius: 15px;
    
}


.post-title {
    font-size: 15px;
    flex:1;
    text-align: center;
    width: 87%;

}

.post-author {
    font-size: 16px;
    color: black;
    margin-left: 10px;
    position: relative;
    width: 13%;
}

.post-author::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 340%;
    background-color: #f9f9f9;
}

.indexNumber{
    margin-left: 15px;
}