/* src/App.css */
@font-face {
    font-family: 'OnGulIp RyuTtung';
    src: url('../../public/fonts/온글잎\ 류뚱체.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
  }

.home {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*버튼박스*/
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}
/*버튼*/
.button {
    margin: 0 40px;
    padding: 15px 25px;
    background-color: #fff5cc;
    border-radius: 15px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    
    text-align: center;
    min-width: 120px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.search-container button {
    padding: 10px 20px;
    font-size: 21px;
    background-color: #fff5cc;
    border: none;
    cursor: pointer;
    color: #000;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'OnGulIp RyuTtung';
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
    
}

.category-box {
    border-radius: 10px;
    text-align: center;
    width: 250px; /* 카테고리 박스의 너비를 지정 */
    
}

.category-box-header {
    background-color: #fff;
    padding: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff5cc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-box-content {
    padding: 20px;
    background-color: #fff5cc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    
    
}

.category-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'OnGulIp RyuTtung';
    font-size: 18px;
}

.selected-category {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    
}

.home-radio-label {
    display: block;
    margin: 10px 0;
    margin-top: 15px;
}

.home-radio-input {
    margin-right: 5px;
    width: 25px;
}

