@font-face {
    font-family: 'OnGulIp RyuTtung';
    src: url('../../public/fonts/온글잎\ 류뚱체.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0px;
    background-color: #fff9f3 ;
    margin-top: 1px;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
    border: #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-submit-button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    font-family: 'OnGulIp RyuTtung';
}
