.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100px; 
}

.logo-image {
    max-width: none !important; 
    width: 250px !important; 
    height: auto !important; 
    object-fit: contain !important
}
