.recommand-chatlist-container {
    display: flex;
    margin-left: 30%;
    margin-right:30% ;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff9f3;
    height: 60vh;
    position: relative;
    padding-top: 3%;
    flex-direction: row;
}

.recommand-chat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 250px; 
    height: 100%; 
    overflow-y: auto;
    overflow-x: hidden; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    padding: 10px;
    background-color: #fff5cc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recommand-chat-section h2 {
    margin-bottom: 20px;
}

.recommand-chat-list {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background-color: #fff5cc;
}

.recommand-chat-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.recommand-chat-item:last-child {
    border-bottom: none;
}

.recommand-chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.recommand-chatting-go {
    background-color: #fff5cc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'OnGulIp RyuTtung';
    width: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
