.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff9f3 ;
    height: 65vh;
    
    
}

h2 {
    margin-bottom: 20px;
    
}

.results-list {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 50vh; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 생성 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    
    
}

.searching-item {
    padding: 10px;
    background-color: #fff5cc;
    border: 1px solid #ccc;
    border-radius: 15px;
    align-content: left;
    font-size: 18px;
    
    
}

.chat_button{
    margin-top: 15px;
    
}

.button{
    width:auto;
}

.content-container{
    margin-bottom: 7%;
}
.ps{
    margin: 5px;
}



