
/* src/App.css */
@font-face {
  font-family: 'OnGulIp RyuTtung';
  src: url('C:\Users\USER\Desktop\Pet For_인사 핵심플젝\PetFor\frontend\public\fonts\온글잎 류뚱체.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

body {
  margin: 0;
  font-family: 'OnGulIp RyuTtung', sans-serif; /* 기본 글씨체 설정 */
  background-color: #f9f9f9;
  font-size: 18px;
}

.App {
  text-align: center;
}
