
@font-face {
  font-family: 'OnGulIp RyuTtung';
  src: url('../public/fonts/온글잎\ 류뚱체.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'OnGulIp RyuTtung', sans-serif;
  background-color: #fff9f3 ;
}

.App {
  text-align: center;
}
